/* Style.css */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
